:root {
    --color-soft-blue: hsl(231, 69%, 60%);
    --color-soft-red: hsl(0, 94%, 66%);
    --color-greyish-blue: hsl(229, 8%, 60%);
    --color-very-dark-blue: hsl(229, 31%, 21%);
}

html {
    box-sizing: border-box;
    font-size: 50%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

.disable-scroll {
    @media only screen and (max-width: 799px) {
        overflow: hidden;
    }
}

// GLOBAL STYLES

*:focus {
    outline: 3px dashed tomato; 
}