// ===============
// | MENU BUTTON |
// ===============

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &__bar {
        display: inline-block;
        width: 2.25rem;
        height: 3px;
        background-color: black;
        transition: all .5s;
    }
}

.mobile-nav--active .menu-btn__bar--1 {
    transform: translate(-1px, 5px) rotate(45deg);
    background-color: white;
}

.mobile-nav--active .menu-btn__bar--2 {
    opacity: 0;
}

.mobile-nav--active .menu-btn__bar--3 {
    transform: translate(-1px, -8px) rotate(-45deg);
    background-color: white;
}

// ==========
// | RIPPLE |
// ==========

.ripple {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut .8s linear infinite;
}

// ===================
// | REGULAR BUTTONS |
// ===================

.btn {
    position: relative;
    border: 2px solid;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s, outline 0s;

    @media only screen and (min-width: 800px) {
        padding: 1.25rem 3rem;
    }

    &--blue {
        border-color: var(--color-soft-blue);
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        background-color: var(--color-soft-blue);
        color: white;

        &:hover {
            background-color: white;
            color: var(--color-soft-blue);
        }

        .ripple {
            background-color: var(--color-soft-blue);
        }
    }

    &--red {
        border-color: var(--color-soft-red);
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        background-color: var(--color-soft-red);
        color: white;

        &:hover {
            background-color: white;
            color: var(--color-soft-red);
        }

        .ripple {
            background-color: var(--color-soft-red);
        }
    }

    &--grey {
        border-color: hsl(0, 0, 97);
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        background-color: hsl(0, 0, 97);;
        color: var(--color-very-dark-blue);
        opacity: .75;

        &:hover {
            border-color: var(--color-very-dark-blue);
            background-color: white;
        }

        .ripple {
            background-color: var(--color-very-dark-blue);
        }
    }
}

// =================
// | DOWNLOAD CARD |
// =================

.download-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 46.25rem;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    padding: 3rem;
    padding-top: 6rem;
    color: var(--color-very-dark-blue);
    overflow: hidden;

    &__img {
        margin-bottom: 4rem;
    }

    &__heading {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0.25px;
    }

    &__subheading {
        width: 120%;
        margin-bottom: 3rem;
        border-bottom: 4px dotted rgba(73, 93, 207, 0.20012);
        padding-bottom: 4rem;
        font-size: 1.875rem;
        opacity: .5;
    }

    &__btn {
        align-self: stretch;
    }
}

// ===============
// | ATTRIBUTION |
// ===============

.attribution {
    position: fixed;
    right: 4rem;
    bottom: 3rem;
    opacity: .5;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }

    &__img {
        width: 7rem;
        height: auto;
        border-radius: 50%;
        box-shadow: 4px 8px 8px -2px rgba(0, 0, 0, .2);
        cursor: pointer;
        transition: transform .3s ease-out;

        &:hover {
            transform: rotate(-360deg);
        }

        &:active {
            transform: scale(1.2);
        }
    }

    &__message {
        position: absolute;
        top: -20rem;
        left: -21.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 28rem;

        background: url(../img/bubble.png);
        background-size: contain;
        background-repeat: no-repeat;

        visibility: hidden;
        transform-origin: bottom right;
        transform: translate(0, 2rem) rotate(-10deg) scale(.5);
        opacity: 0;
        transition: all .1s;
    }

    &__text {
        width: 14rem;
        margin-top: -1rem;
        font-family: 'Patrick Hand', cursive;
        font-size: 2rem;
        line-height: 2.25rem;
        text-align: center;

        a {
            color: #FDFDCC;
        }
    }
}

.attribution.attribution-active {
    opacity: 1; 
}

.attribution-active .attribution__img {
    transform: rotate(-360deg);

    &:active {
        transform: scale(1.2);
    }
}

.attribution-active .attribution__message {
    visibility: initial;
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
    transition: all .3s;
}