.footer {
    background-color: var(--color-very-dark-blue);
    padding: 5rem 4rem;
    color: white;
    font-weight: 500;
    line-height: 5rem;
    text-align: center;

    @media only screen and (min-width: 800px) {
        padding: 4rem 6rem;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1104px;

        @media only screen and (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        @media only screen and (min-width: 800px) {
            flex-direction: row;
            margin-right: auto;
            margin-bottom: 0;
        }

        &__list {
            display: flex;
            flex-direction: column;
            list-style: none;

            @media only screen and (min-width: 800px) {
                flex-direction: row;
            }

            > li {
                &:not(:last-child) {
                    @media only screen and (min-width: 800px) {
                        margin-right: 5.5rem;
                    }
                }
            }
        }

        &__link {
            color: white;
            font-size: 1.625rem;
            letter-spacing: 1.5px;
            line-height: 2.125rem;
            text-decoration: none;
            transition: color .3s;

            &:hover {
                color: var(--color-soft-red);
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        @media only screen and (min-width: 800px) {
            margin-right: 7.875rem;
            margin-bottom: 0;
        }
    }

    &__social-links {
        display: flex;
        align-items: center;

        svg {
            * {
                transition: fill .3s;
            }

            &:hover * {
                fill: var(--color-soft-red);
            }
        }
    }

    &__social-link {
        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
}